<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luiz Contes</title>
    <link rel="icon" type="image/x-icon" href="img/favicon0.ico">
    <link rel="stylesheet" href="css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;600&family=Open+Sans:ital,wght@0,400;0,600;1,300&display=swap"
        rel="stylesheet">
</head>

<body id="body">

    <div id="lightbox" class="lightbox-hidden">
        <div class="container">
            <div id="close"></div>
            <div id="apresentacao">
                <img id="foto" src="img/foto.jpeg">
                <div class="name">
                    <h1 id="nome">Luiz Contes</h1>
                    <h5 id="titulo">Fullstack developer</h5>
                </div>
            </div>
            <div id="descricao">
                After participating in a bootcamp which introduced me to information technology I got interested in a
                JavaScript Fullstack developer role. Since the beginning of 2022 I`ve been mainly studying JavaScript as
                my core tecnology, and now I am mastering in deepth some libraries wich will help me to improve my
                skills as a fullstack developer such as:
                -NodeJs
                -React
                -Express
                -Axios
                -PWT
                -Joi
                -Eslint

                Some of other technologies I am focused on:
                -MongoDB
                -Kubernetes
                -Docker
                -AWS
            </div>
        </div>
    </div>

    <div class="menu-btn">
        <div class="menu-btn_burger"></div>
    </div>

    <div id="side-menu">

        <div class="sobre">
            <div id="logo">
                <img src="img/logo.png" alt="logo">
            </div>
        </div>

        <div class="opcoes">
            <ul>
                <li>
                    <a class="anchor git" target="_blank" href="https://github.com/Luizcontes">
                        <svg id="svg" viewBox="0 0 24 24">
                            <path
                                d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
                        </svg>
                        <p>Github</p>
                    </a>
                </li>
                <li>
                    <a class="anchor linkedin" target="_blank" href="https://www.linkedin.com/in/luizcontes/">
                        <svg id="svg" viewBox="0 0 24 24">
                            <path
                                d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 16h-2v-6h2v6zm-1-6.891c-.607 0-1.1-.496-1.1-1.109 0-.612.492-1.109 1.1-1.109s1.1.497 1.1 1.109c0 .613-.493 1.109-1.1 1.109zm8 6.891h-1.998v-2.861c0-1.881-2.002-1.722-2.002 0v2.861h-2v-6h2v1.093c.872-1.616 4-1.736 4 1.548v3.359z" />
                        </svg>
                        <p>LinkedIn</p>
                    </a>
                </li>
                <li>
                    <a class="anchor whatsapp" target="_blank" href="https://wa.me/351924469387">
                        <svg id="svg" viewBox="0 0 24 24">
                            <path
                                d="M12.031 6.172c-3.181 0-5.767 2.586-5.768 5.766-.001 1.298.38 2.27 1.019 3.287l-.582 2.128 2.182-.573c.978.58 1.911.928 3.145.929 3.178 0 5.767-2.587 5.768-5.766.001-3.187-2.575-5.77-5.764-5.771zm3.392 8.244c-.144.405-.837.774-1.17.824-.299.045-.677.063-1.092-.069-.252-.08-.575-.187-.988-.365-1.739-.751-2.874-2.502-2.961-2.617-.087-.116-.708-.94-.708-1.793s.448-1.273.607-1.446c.159-.173.346-.217.462-.217l.332.006c.106.005.249-.04.39.298.144.347.491 1.2.534 1.287.043.087.072.188.014.304-.058.116-.087.188-.173.289l-.26.304c-.087.086-.177.18-.076.354.101.174.449.741.964 1.201.662.591 1.221.774 1.394.86s.274.072.376-.043c.101-.116.433-.506.549-.68.116-.173.231-.145.39-.087s1.011.477 1.184.564.289.13.332.202c.045.072.045.419-.1.824zm-3.423-14.416c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm.029 18.88c-1.161 0-2.305-.292-3.318-.844l-3.677.964.984-3.595c-.607-1.052-.927-2.246-.926-3.468.001-3.825 3.113-6.937 6.937-6.937 1.856.001 3.598.723 4.907 2.034 1.31 1.311 2.031 3.054 2.03 4.908-.001 3.825-3.113 6.938-6.937 6.938z" />
                        </svg>
                        <p>Whatsapp</p>
                    </a>
                </li>
            </ul>
            <form>
                <h1>Let`s Talk?</h1>
                <textarea id="mensagem" rows="15" placeholder="Leave your message"></textarea>
                <div id="email-field">
                    <input id="email" type="email" placeholder="Your best e-mail">
                    <input id="button" type="button" value="Send" onclick="sendInfo()">
                </div>
            </form>
            <div id="response" class="response hidden">
                
            </div>
        </div>
    </div>

    <!-- <button id="button" onclick="repos()">API</button> -->

    <div class="projects">
        <svg version="1.1" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 1000 1000"
            enable-background="new 0 0 1000 1000" xml:space="preserve">
            <g>
                <g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)">
                    <path
                        d="M4634.6,5020.4c-976.2-88.6-1829.2-412.1-2599.4-985.9c-285-213.7-733.6-662.4-947.4-947.4c-512.2-687.4-818.3-1423-953.1-2291.4C88.5,485.8,88.5-242,134.7-552c136.7-880,446.7-1627.1,960.8-2316.4c213.7-283,660.4-735.5,932-941.6c702.8-533.4,1498-862.6,2362.6-978.2c229.1-28.9,1045.6-23.1,1280.5,9.6c1097.5,156,2085.3,664.3,2859.4,1471.1C9265.4-2539.1,9716-1591.8,9875.8-484.6c36.6,261.9,30.8,1005.1-11.6,1280.4c-92.4,602.7-244.5,1076.4-510.3,1588.5c-244.5,471.7-500.6,818.3-895.4,1213.1c-751,749-1661.7,1211.1-2716.9,1376.7C5499.1,5012.7,4848.3,5039.7,4634.6,5020.4z M5404.8,4433.1c1709.8-156,3171.3-1319,3706.6-2948c781.8-2387.6-608.5-4964-3021.1-5589.8c-417.8-107.8-623.8-132.9-1089.8-132.9c-467.9,0-672,25-1097.5,134.8C1694.3-3528.8,300.3-1276,756.6,984.5C1191.8,3152.7,3190.4,4635.3,5404.8,4433.1z" />
                    <path
                        d="M4301.5,2107.1c-84.7-53.9-1842.7-1813.8-1873.5-1873.5c-30.8-57.8-34.7-202.2-9.6-244.5c11.5-15.4,440.9-452.5,958.9-968.5c591.1-593.1,957-945.4,987.8-951.2c27-5.8,57.8-13.5,71.3-17.3c36.6-11.6,152.1,26.9,204.1,67.4c27,21.2,63.6,78.9,82.8,125.2c63.5,171.4,63.5,171.4-681.6,920.4l-668.2,668.2h2010.2c2222,0,2089.2-7.7,2183.5,123.2c59.7,82.8,59.7,248.4,0,331.2c-92.4,130.9,36.6,123.2-2173.9,123.2H3394.6l637.3,641.2c670.1,673.9,699,708.6,672,847.2C4667.3,2095.6,4451.7,2207.2,4301.5,2107.1z" />
                </g>
            </g>
        </svg>

        <div class="principal" onclick="cardClick()">

            <div id="title">
                Title
            </div>

            <div id="card" class="hidden">
                <div id="close2"></div>
                <div class="buttons">
                    <a id="webpage">
                        <div class="button">Web Page</div>
                    </a>
                    <a id="repository">
                        <div class="button">Repository</div>
                    </a>
                </div>
            </div>

            <div class="preview">
                <img id="preview" src="">
            </div>

        </div>

        <svg version="1.1" x="0px" y="0px" width="50px" height="50" viewBox="0 0 1000 1000"
            enable-background="new 0 0 1000 1000" xml:space="preserve">
            <g>
                <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)">
                    <path
                        d="M4304,4996.6c-736-113.1-1391.5-364.2-2006.7-774.3C-58.3,2660.2-612.2-575,1086-2838.5c785.8-1044.6,1931.9-1726.9,3229.5-1916.6c283.7-42.1,1090.6-42.1,1383.8,0c270.2,38.3,734.1,155.3,983.2,247.2c306.7,113.1,745.6,337.3,1023.5,523.2C8911.5-3177.8,9664.7-1960.7,9875.6-483c32.6,226.2,32.6,981.3,0,1207.5c-182.1,1270.7-759,2342.1-1700,3149c-406.3,348.8-989,691.9-1495,877.8c-247.3,90.1-707.2,205.1-981.3,245.3C5425.2,5036.8,4560.8,5036.8,4304,4996.6z M5396.4,4413.9c1286-118.8,2457.1-818.4,3175.8-1897.5c155.2-233.8,391-701.5,475.3-948.7c387.2-1117.4,314.3-2321-201.3-3359.8c-640.2-1286.1-1803.5-2135.1-3229.5-2355.5c-327.8-49.8-962.1-46-1284.1,9.6c-889.3,151.4-1640.6,521.3-2273.1,1121.2C865.6-1886,415.1-143.8,913.5,1422.1C1528.7,3359.8,3384,4597.9,5396.4,4413.9z" />
                    <path
                        d="M5402.2,2133.2c-82.4-44.1-124.6-97.8-151.4-195.5c-42.2-157.2-32.6-166.7,665.1-860.6L6557.9,437l-1983.7-9.6c-1974.1-9.6-1983.7-9.6-2037.4-49.8c-187.8-139.9-187.8-373.7,0-513.6c53.7-40.2,59.4-40.2,2041.2-46l1985.6-3.8l-634.4-638.2c-350.7-348.8-645.9-661.2-655.5-690c-69-182.1,24.9-366.1,210.8-415.9c161-44.1,141.8-59.4,1148.1,946.8c509.8,511.7,939.1,950.6,952.6,973.7c32.6,61.3,30.7,174.4-5.8,260.7c-34.5,84.3-1711.6,1776.7-1845.7,1864.9C5630.3,2183,5509.5,2188.7,5402.2,2133.2z" />
                </g>
            </g>
        </svg>

    </div>

</body>
<script src="js/functionalities.js"></script>
<script src="js/repositories.js"></script>
<script src="js/contact.js"></script>

</html>